.message-container {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  align-items: center;
}

.message-content {
  width: 400px;
}

.message-input {
  margin-bottom: 15%;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.message-detail {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font: -webkit-mini-control;
  resize: none;
  min-height: 100px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.message-button-container {
  margin-top: 5%;
  display: flex;
  justify-content: flex-end;
}

.message-button1 {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  line-height: 1.5;
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;
  outline: 0;
  border-radius: 20px !important;
  color: #fff;
  background-color: black;
  border-color: black;
  padding: 0.1em 0.9em;
  margin-right: 2%;
  margin-bottom: 10%;
}

.contact-text {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 700;
  color: rgb(131, 131, 212);
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-icon {
  display: flex;
  justify-content: center;
}

.contact-iconA {
  margin-left: 1%;
}
