.footer-container {
  background-color: black;
  height: 50px;
}

.footer-content {
  display: flex;
  justify-content: center;
  height: 50px;
}

.footer-text {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: sans-serif;
  color: white;
  font-weight: 500;
  font-size: medium;
}
